<div id="sect1" >
    <mat-card class="card">
        <h1>
            About Us
        </h1>
        <br>
        <br>
        <p>
            This tool is used to track your ETH,LINK,USDT balances.
            <br>
            <br>
            Connect Your wallet and track Your portfolio.
            <br>
            <br>
            Your Data is stored on MongoDb.
            <br>
            <br>
            10 EFL is needed to use the full version.
            <br>
            EFL contract addres:0x14Cd97748dCd3dB4B2DcAaBB9FF2132701C14339
            on Rinkeby network.
            <br>
            Can be found on:
            <a
                href="https://rinkeby.etherscan.io/address/0x14Cd97748dCd3dB4B2DcAaBB9FF2132701C14339">https://rinkeby.etherscan.io/address/0x14Cd97748dCd3dB4B2DcAaBB9FF2132701C14339</a>
            <br><br><br>
        </p>
        
    </mat-card>
</div>

